body {
	padding-top: 70px;
}

.navbar-brand {
	font-weight: 500;
	padding-top: 7px !important;
}

.navbar-brand img {
	display: inline-block;
	width: 35px;
	margin-right: 5px;
}

.navbar-brand span {
	display: inline-block;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 500px;
}

.form-group.p label{
	margin-top: 10px !important;
}

#lname div {
	padding-top: 7px !important;
}
#lname p {
	display: inline;
}
#lname img {
	margin-left: 5px;
	height: 16px;
	width: 16px;
}

.bootstrap-select{
    margin-top: 0px;
}
.bootstrap-select .dropdown-toggle{
    padding-left: 5px;
    padding-right: 20px !important;
}
.dropdown-menu li a {
    padding: 5px;
}
.dropdown-menu li a img {
    padding-right: 5px;
}
.bootstrap-select .dropdown-toggle .caret {
    right: 5px !important;
}

.slider .noUi-connect, .slider.slider-default .noUi-connect {
    height: 2px;
}

.form-group.range label, .form-group.range0 label {
	margin-top: 8px !important;
}

.form-group.range .c3 p{
	padding-top: 4px
}

.panel-heading .text-right button {
	margin: 0;
	padding: 0;
}

.panel-heading .text-right .material-icons {
	font-size: 22px;
}

.form-group {
	padding-bottom: 42px;
	margin-top: 0;
}

.form-group.col2x {
    padding-bottom: 0;
}

.form-group.col2x:before, .form-group.col2x:after {
	display: table;
	content: " ";
}

.form-group.col2x:after {
	clear: both;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
	color: #868686;
}

.form-group #Mac {
	padding-top: 12px;
}


#history .form-group div {
	margin-top: 10px;
}

.panel-heading .togglebutton {
	margin-right: -13px;
}

.panel-heading .togglebutton label {
    margin-bottom: 0;
}

.panel-heading .togglebutton input {
    margin-left: 15px;
    margin-right: 0;
}

.btn, .input-group-btn .btn {
	padding: 8px 15px;
}

.text-right.lbl {
	height: 24px;
}

#stationsTable .material-icons {
	font-size: 20px;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.alert.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

#snackbar-container div.pull-left{
    padding-left: 10px;
}
#snackbar-container div.pull-left i{
  vertical-align: middle;
}
#snackbar-container div.text-right i{
    vertical-align: middle;
    padding-right: 10px;
}

@media (max-width: 668px) {
    .form-group .c1{ padding-left: 5px !important; }
    .form-group.range .c2{ width: 65% !important; }
    .form-group.range .c3{ width: 10% !important; padding-left: 0px; }
}

@media (max-width: 768px) {
    .form-group .c1{ width: 25%; }
    .form-group .c2{ width: 75%; }
    .form-group.range .c2{ width: 70%; }
    .form-group.range .c3{ width: 5%; padding-left: 0px; }

	.form-group.col2x label { padding-bottom: 50px; }
	.form-group.col2x div { width: 75%; }
}

@media (min-width: 768px) {
    .form-group .c1{ width: 16%; }
    .form-group .c2{ width: 84%; }
    .form-group.range .c2{ width: 78%; }
    .form-group.range .c3{ width: 5%; padding-left: 0px; }

	.form-group.col2x div { width: 42%; }
	#yours-dialog .modal-dialog { width: 750px; }
}

@media (min-width: 992px) {
    .form-group .c1{ width: 12%; }
    .form-group .c2{ width: 88%; }
    .form-group.range .c2{ width: 83%; }
    .form-group.range .c3{ width: 5%; padding-left: 0px; }

	.form-group.col2x div { width: 44%; }
    #yours-dialog .modal-dialog { width: 970px; }
}

@media (min-width: 1200px) {
	.navbar-brand {
		padding-top: 12px !important;
	}

    .form-group .c1{ width: 10%; }
    .form-group .c2{ width: 90%; }
    .form-group.range .c2{ width: 85%; }
    .form-group.range .c3{ width: 5%; padding-left: 0px; }

	.form-group.col2x div { width: 45%; }
    #yours-dialog .modal-dialog { width: 1170px; }
}